.steamid_container {
  margin: 1vh;

  .steamid_property {
    height: 40px;

    div {
      line-height: 40px;

      &:not(.title) {
        position: relative;
        background-color: white;
        color: gray;
        text-align: left;
        display: inline-block;
        width: 200px;
        padding-left: 6px;
        opacity: 0.8;
        cursor: pointer;
        box-shadow: inset 0px 0px 6px -3px;

        &::after {
          position: absolute;
          content: 'PRESS TO COPY';
          right: 5px;
          bottom: -13px;
          letter-spacing: 1px;
          font-size: 7px;
        }

        &.no-copy {
          &::after {
            display: none;
          }
        }
      }

      &.title {
        background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(35, 37, 38, 1) 100%);
        display: inline-block;
        width: 90px;
        text-align: center;
      }
    }
  }

  ul {
    text-align: center;
    margin: 1vh auto 0 auto;
    width: auto;
    display: inline-block;
    padding: 0;

    li {
      list-style-position: inside;
      text-align: left;

      span {
        color: orange;
      }
    }
  }
}
