.loading-fade-enter {
  opacity: 0;
}

.loading-fade-enter-active {
  opacity: 1;
  // transition: opacity 200ms;
}

.loading-fade-exit {
  opacity: 1;
}

.loading-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.loading__overlay {
  position: fixed;
  z-index: 999999;
  min-height: 100vh;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #636363;

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 45vh;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    // background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  span {
    border: 35px solid black;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: 46vh;
    border-radius: 50%;
    animation: spin 2s infinite;
    left: 50%;
    margin-left: -35px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(900deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
